body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

#main_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#main_section .city-location {
  display: flex;
  align-items: center;
  margin-left: 10%;
}
#main_section .city-location h2 {
  font-size: 50px;
  margin: 0;
  margin-right: 20px;
}
#main_section .city-location i {
  font-size: 30px;
}
#main_section .weather-section {
  display: flex;
  justify-content: space-around;
}
#main_section .weather-section .weather-and-temp {
  display: flex;
  gap: 20px;
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
}
#main_section .weather-section .weather-and-temp .weather-icon {
  width: 200px;
  height: 200px;
}
#main_section .weather-section .weather-and-temp .temp {
  font-size: 200px;
  margin: 0;
}
#main_section .weather-section .details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  gap: 50px;
}
#main_section .weather-section .details .col {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
}
#main_section .weather-section .details .col img {
  width: 50px;
  height: 50px;
}
#main_section .weather-section .details .col p {
  margin: 0;
}

#daily_section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 40px;
}
#daily_section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border-radius: 10px;
  padding: 20px;
}
#daily_section div h3 {
  font-size: 20px;
  margin: 0;
}
#daily_section div img {
  width: 60px;
  height: 60px;
  margin: 10px 0;
}
#daily_section div .max-min-temp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
}
#daily_section div .max-min-temp p {
  font-size: 15px;
  margin: 0;
}
#daily_section div .max-min-temp img {
  transform: rotate(90deg);
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

@media only screen and (max-width: 600px) {
  #main_section .city-location {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0%;
  }
  #main_section .weather-section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #main_section .weather-section .weather-and-temp .weather-icon {
    display: none;
  }
  #main_section .weather-section .details {
    width: 95%;
    gap: 10px;
  }
  #main_section .weather-section .details .col:nth-child(3), #main_section .weather-section .details .col:nth-child(4) {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */