body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.w-100 {
  width: 100% !important;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.selector-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#main_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#main_section .city-location {
  display: flex;
  align-items: center;
  margin-left: 10%;
}
#main_section .city-location h2 {
  font-size: 50px;
  margin: 0;
  margin-right: 20px;
}
#main_section .city-location i {
  font-size: 30px;
}
#main_section .weather-section {
  display: flex;
  justify-content: space-around;
}
#main_section .weather-section .weather-and-temp {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
}
#main_section .weather-section .weather-and-temp .weather-icon {
  width: 200px;
  height: 200px;
}
#main_section .weather-section .weather-and-temp .temp {
  font-size: 200px;
  margin: 0;
}
#main_section .weather-section .details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  gap: 50px;
}
#main_section .weather-section .details .col {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
}
#main_section .weather-section .details .col img {
  width: 50px;
  height: 50px;
}
#main_section .weather-section .details .col p {
  margin: 0;
}
#main_section .weather-section .details .col div div {
  display: flex;
  justify-content: space-between;
}

#daily_section {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#daily_section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border-radius: 10px;
  padding: 20px;
}
#daily_section div h3 {
  font-size: 20px;
  margin: 0;
}
#daily_section div img {
  width: 60px;
  height: 60px;
  margin: 10px 0;
}
#daily_section div .max-min-temp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
}
#daily_section div .max-min-temp p {
  font-size: 15px;
  margin: 0;
}
#daily_section div .max-min-temp img {
  transform: rotate(90deg);
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

@media only screen and (max-width: 600px) {
  .daily-title {
    font-size: 30px !important;
  }
  #main_section .city-location {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0%;
  }
  #main_section .weather-section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #main_section .weather-section .weather-and-temp .weather-icon {
    display: none;
  }
  #main_section .weather-section .weather-and-temp h1 {
    font-size: 120px !important;
  }
  #main_section .weather-section .details {
    width: 95%;
    gap: 10px;
  }
  #main_section .weather-section .details .col:nth-child(2), #main_section .weather-section .details .col:nth-child(4) {
    display: none;
  }
  #daily_section {
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 5px;
  }
}
.daily-title {
  font-size: 50px;
  margin-left: 10px;
}

#hourly_section {
  margin-top: 40px;
  display: flex;
  align-items: center;
  width: 100%;
}
#hourly_section .hourly_container {
  width: 100%;
  gap: 10px;
  justify-content: space-around;
  position: relative;
}
#hourly_section .hourly_container div div {
  height: 170px;
  width: 170px;
  border: solid black 2px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 10px;
}

.container-favourite-cities {
  height: 500px;
  width: 20%;
}
.container-favourite-cities .select-cities {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}
.container-favourite-cities .select-cities .select-city {
  padding: 10px;
  cursor: pointer;
}
.container-favourite-cities .select-cities .select-city:hover {
  background-color: #ddd;
}

.container-autocomplete {
  position: relative;
  height: 500px;
  width: 20%;
}
.container-autocomplete .autocomplete-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}
.container-autocomplete .autocomplete-cities {
  position: absolute;
  border: 1px solid #ddd;
  border-top: none;
  z-index: 99;
  background-color: #fff;
  max-height: fit-content;
  width: 100%;
}
.container-autocomplete .autocomplete-cities .autocomplete-city {
  padding: 10px;
  border: none;
  cursor: pointer;
}
.container-autocomplete .autocomplete-cities .autocomplete-city:hover {
  background-color: #ddd;
}/*# sourceMappingURL=index.css.map */